<header>
    <link rel="stylesheet" href="header.css">
    
    <div class="contenedor-principal"> <!---contenedor principal-->
        <div class="contenedor-logo">
            <img src="../../assets/imagenes/nosotros/Logo.svg" alt="Imagen Logo kit box"><span id="logo-text">kit-box</span>
        </div>
    
       <div class="contenedor-menu">

        <!-- Menú de Navegación -->
        <nav class="menu-navegacion">
            <a href="#inicio">Inicio</a>
            <a href="#catalogo">Catálago</a>
            <a href="#acercade" >Acerca de</a>
            <a href="#contactanos" >Contáctanos</a>
        </nav>
       </div>

     <div class="contenedor-carrito-sesion">
        <div>
            <img src="../../assets/imagenes/nosotros/Carrito.svg" alt="Icono Carrito de Compras">
        </div>
        <button class="btn-iniciar-sesion">Iniciar Sesión</button>
       
    </div>
</header>